:root {
	--header-padding: 70px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color: #303846;
}

h1 {
    font-size: 35px;

}

h2 {
	font-size: 28px;
    margin-top: 0;
	 margin-bottom: 10px;
}

h3 {
    font-size: 20px;
	margin: 0;
}

h4 {
    font-size: 18px;

}

p {
    margin-top: 0;

}

header {
	height: var(--header-padding);
    box-sizing: border-box;
}

header ul {
	display: flex;
	list-style-type: none;
}

main {
	padding-top: var(--header-padding);
	
}

form {
	margin: 15px;
	font-weight: 500;
}

select {
	border-radius: 10px;
	border-color: #CCCCCC;
}

input {
	border-radius: 10px;
	border-color: #CCCCCC;
    padding: 8px;
	
}
fieldset {
	margin-bottom: 15px;
	width: 390px;
	border-color: #09D3AC;
}

footer ul {
	margin-left: 30px;
}


.menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu * {
	padding-right: 5px;
	padding-left: 5px;
}

.menu a {
	text-decoration: none;
    color: #303846;
	font-weight: 600;
}
.logo {
	display: flex;
	justify-content: flex-start;
}

.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

.booking {
	width: 100%;
	padding-top: 25px;
	background-image: url("../images/banner.png");
	background-position: center;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.column {
	flex-direction: column;
	align-items: center;
}
.logo {
	font-size: 25px;
}

.container {
	margin: 0 auto;
	width: 1000px;
	padding: 20px;
	display: flex;
	justify-content: center;
	
}

.fb330{
	flex-basis: 330px;
}
.text {
	margin-right: 110px;
}

.w100 {
	width: 100%;
}

.w1000 {
	width: 1000px;
}

.p10 {
	padding: 10px;
}
.p20 {
	padding: 20px;
}
.pb10 {
	padding-bottom: 10px;
}

.btn {
	border:1px solid;
	padding: 10px 20px;
	background-color: transparent;
	text-decoration: none;
	border-radius: 10px;
}
.btn-white {
	color: #fff;
	border-color: #fff;
}

.btn-green {
	border-color: #09D3AC;
	color: #09D3AC;
	font-weight: 600;
}

.flex {
	display:flex;
}

.params {
	align-items: center;
	padding-right: 35px;
	padding-bottom: 12px;
}

.width150 {
	width: 150px;
}

.width175 {
	width: 175px;
}

.bg-gray {
	background-color: #f7f7f7;
}
.bg-dark {
	background-color: #303846;
}

.bg-light {
	background-color: #fff;
}
.font-light {
	color: #fff;
}
.jc-sb {
	justify-content: space-between;
}